body{
    background-color: #B8D0E5;
}

.top{
    position: relative;
    align-items:flex-end;
    display: flex;
    height: 75px;
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    background-color: #fff;
}

.logo_undip{
    margin-left:-5px;
    margin-right:auto;
    position: relative;
    top: 20px;
}

.logo_undip img{
    height: 110px;
    width: auto;
}

.logo_profile img{
    width: auto;
    height: 46px;
    position: relative;
    top: -10px;
    left: -10px;
    margin-left: auto;
    border-radius: 50%;
}

.text{
    position: absolute;
    width: auto;
    height: auto;
    right: 0px;
    left: 0px;
    top: 0px;
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 75px;
}

.navbar2{
    float: right;
    font-size: 16;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.bar{
    margin-top: 0px;
    margin-left: -8px;
    margin-right: -8px;
    width: auto;
    right:0px;
    left:0px;
}

.navbar {
    overflow: hidden;
    background-color:#EDFFFF ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover{
    background-color: lightgray;
}

.card{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
}

.card-status{
    width: 450px;
    height: 200px;
    left: 140px;
    top: 220px;
}
.card-prestasi{
    width: 390px;
    height: 200px;
    right: 150px;
    top: 220px;
}
.card-akademik{
    width: 1220px;
    height: 350px;
    left: 0px;
    right: 0;
    top: 500px;
    margin: 0 auto;
}


.botom-line{
    box-sizing: border-box;
    display: flex;
    height: 50px;
    position: relative;
    align-items:flex-end;
    margin-top: 0px;
    margin-left: -8px;
    margin-right: -8px;
    top: 939px;
    background: #FAFAFA;
    border: 1px solid rgba(0, 0, 0, 0.25);
    ;
}

.card{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
}

.logout{
    position: absolute;
    width: 241px;
    height: 119.83px;
    left: 1225px;
    top: -20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.89);
    z-index: 1000;
}

.logout2{
    position: absolute;
    width: 241px;
    height: 119.83px;
    left: 1270px;
    top: 35px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.89);
    z-index: 1000;
}

.box{
    box-sizing: border-box;

    position: absolute;
    width: 1270px;
    height: 135px;
    left: 40px;
    top: 180px;

    background: rgba(139, 255, 164, 0.7);
    border: 1px solid #42FF00;
    border-radius: 14px;
}

.sum{
    position: absolute;
    width: 1270px;
    height: 192px;
    left: 40px;
    top: 250px;

    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sumTenaga{
    position: absolute;
    width: 270px;
    height: 140.54px;
    left: 33px;
    top: 26px;

    background: #FF8A00;

}

.sumTenaga-img{

    position: absolute;
    width: 111px;
    height: 114.66px;
    left: -120px;
    top: -580px;

}

.sumTenaga-img img{

    position: absolute;
    width: 111px;
    height: 114.66px;
    left: 277px;
    top: 576.12px;
    opacity: 50%;
}

.sumTenagaPendidik{
    position: absolute;
    width: 241px;
    height: 119.83px;
    left: 124px;
    top: 574.05px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.89);
}

.sumTenagaPendidik2{
    position: absolute;
    width: 241px;
    height: 119.83px;
    left: 124px;
    top: 620px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.89);
}

.sumTenaga2{
    position: absolute;
    width: 270px;
    height: 140.54px;
    left: 300px;
    top: 0px;

    background: #00F0FF;
}

.sumTenaga2 img{

    position: absolute;
    width: 111px;
    height: 114.66px;
    left: 165px;
    top: 0px;
    opacity: 50%;

}

.sumTenaga3{
    position: absolute;
    width: 270px;
    height: 140.54px;
    left: 605px;
    top: 0px;

    background: #FFD600;
}

.sumTenaga3 img{

    position: absolute;
    width: 111px;
    height: 114.66px;
    left: 165px;
    top: 0px;
    opacity: 50%;

}

.sumTenaga4{
    position: absolute;
    width: 270px;
    height: 140.54px;
    left: 925px;
    top: 0px;

    background: #68FB9A;
}

.sumTenaga4 img{

    position: absolute;
    width: 111px;
    height: 114.66px;
    left: 165px;
    top: 0px;
    opacity: 50%;

}

.sumJumlahMhs{
    position: relative;
    width: 241px;
    height: 119.83px;
    left: 10px;
    top: -20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.89);
}

.sumJumlahMhs2{
    position: relative;
    width: 241px;
    height: 119.83px;
    left: 10px;
    top: -100px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: rgba(0, 0, 0, 0.89);
}

.isian{
    position: absolute;
    width: 1270px;
    height: 192px;
    left: -33px;
    top: 250px;

    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dosen{
    position: absolute;
    width: 388.19px;
    height: 139.89px;
    left: 35px;
    top: 25px;

    background: #FF4848;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dosen img{
    position: absolute;
    width: 180px;
    height: 114.66px;
    left: 220px;
    top: 0px;
    opacity: 50%;
}

.datadosen{
    position: relative;
    width: 241px;
    height: 119.83px;
    left: 110px;
    top: -30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: rgb(255, 255, 255);
}

.mhs{
    position: absolute;
    width: 388.19px;
    height: 139.89px;
    left: 444px;
    top: 25px;

    background: #8DFF48;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.mhs img{
    position: absolute;
    width: 150px;
    height: 114.66px;
    left: 240px;
    top: 0px;
    opacity: 50%;
}

.datamhs{
    position: relative;
    width: 241px;
    height: 119.83px;
    left: 80px;
    top: -30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: rgb(255, 255, 255);
}

.nilai{
    position: absolute;
    width: 388.19px;
    height: 139.89px;
    left: 850px;
    top: 25px;

    background: #7748FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nilai img{
    position: absolute;
    width: 150px;
    height: 90px;
    left: 250px;
    top: 15px;
    opacity: 50%;
}

.rekapnilai{
    position: relative;
    width: 241px;
    height: 119.100;
    left: 100px;
    top: 18px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 29px;
    display: flex;
    align-items: center;

    color: rgb(255, 255, 255);
}


.operator{
    position: absolute;
    width: 1392.88px;
    height: 199px;
    left: 30px;
    top: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 36px;

    color: #16a529;
    }

.operator1{
    position: absolute;
    width: 1392.88px;
    height: 199px;
    left: 30px;
    top: 60px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 36px;

    color: #16a529;
}

.judul{

    position: absolute;
    width: auto;
    height: auto;
    left: 0px;
    right: 0px;
    top: 90px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    align-items: center;
    text-align: center;

    color: #000000;
}

.judul2{
    position: absolute;
    width: auto;
    height: auto;
    top: 135px;
    left: 447px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    
    align-items: center;
    text-align: center;

    color: #000000;
}

.text-dashboard{
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    top: 170px;
    left: 140px;
    position: absolute;
}

.card-status{
    width: 450px;
    height: 200px;
    left: 145px;
    top: 220px;
}

.card-status img{
    width:120px;
    height:120px;
    position: absolute;
    top: 25px;
    left: 40px;
    border: 2px solid black;
    border-radius: 10px;
}
.card-status-mhs{
    font-size: 22px;
    font-weight: bold;
    line-height: 30px;
    bottom: 15px;
    left: 70px;
    position: absolute;
}

.card-status ul {
    position: absolute;
    right: 85px;
    top: 15px;
    list-style-type: none;
}

.card-status ul li {
    font-size: 18px;
    margin-bottom: 5px;
}

.card-prestasi{
    width: 390px;
    height: 200px;
    right: 150px;
    top: 220px;
}

.card-prestasi-text{
    display: inline;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 15px;
    top: 5px;
}

.card-prestasi-text svg {
    width: 22px;
    height: auto;
}

.card-prestasi-ipk {
    position: absolute;
    top: 95px;
    left: 80px;
    font-size: 30px;
}

.card-prestasi-sks {
    position: absolute;
    top: 95px;
    right: 80px;
    font-size: 30px;
}

.card-prestasi-line{
    border-left: 1px solid black;
    height: 125px;
    position: absolute;
    left: 50%;
    margin-left: 0px;
    top: 50px;
}

.card-akademik{
    width: 1220px;
    height: 350px;
    left: 0px;
    right: 0;
    top: 500px;
    margin: 0 auto;
}

.card-akademik-text{
    display: inline;
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    left: 40px;
    top: 15px;
}

.card-akademik-text svg {
    width: 22px;
    height: auto;
}

.card-akademik-dosen {
    position: absolute;
    top: 80px;
    left: 45px;
    font-size: 20px;
    list-style-type: none;
}

.card-akademik-dosen a {
    font-weight: bold;
}

.card-akademik-dosen li {
    margin-top: 20px;
}

.card-akademik-line{
    border-left: 1px solid black;
    height: 245px;
    position: absolute;
    left: 68%;
    margin-left: 0px;
    top: 70px;
}

.card-akademik-semester {
    position: absolute;
    right: 130px;
    top: 60px;
    text-align: center;
}

.card-akademik-semester ul {
    font-size: 20px;
    font-weight: bold;
}

.card-akademik-semester li {
    list-style-type: none;
    font-size: 18px;
}

/*html skripsi*/
.card-skripsi{
    width: 60%;
    height: 40%;
    left: 0px;
    right: 0px;
    top: 220px;
    margin: 0 auto;
}
